* {
    font-family: sans-serif;
}

body {
    /*background-color: rgb(240, 240, 240);*/
    background-image: url(https://i.ibb.co/Z6273DY/image-2.png);
    background-size:cover;
    overflow-x:hidden; /*disable horizontal scrolling*/
    overflow-y:hidden /*Same thing but for vertical*/
}

header {
    background-color: rgba(255, 128, 25, 0.205);
    font-size: x-large;
    text-align: center;
    width:110%;

    position:relative;
    right:5%;
}
.TopTitle {
    text-align: left;
    position: relative;
    left:4.5%;
    bottom:80%;
    z-index: 10;
}

.decoration-box {
    height: 30px;
    width: 120%;
    

    background: rgb(255,80,80);
    background: linear-gradient(90deg, rgba(255,80,80,1) 0%, rgba(233,146,22,1) 63%); 

    

    position: relative;
    bottom: 28px;
    right:3%;
}

.decorationBoxText {
    text-align: left;
    position: relative;
    left:6.3%;
    bottom:6%;
}

.Categories {
    position: absolute;
    left: 6%;
    font-size:large;
}
/* First item config starts here*/
.FirstFrame {
    position:relative;
    height:800px;
    width:770px;
    left:21.5%;
    animation: FrameAppear;
    animation-duration: 2s;

}

.FirstItemBackground {
    background-color: white;
    position:relative;
    height: 90vh;
    width: 50vw;
    bottom:2.6%;
    right:3.4%;

    border-radius: 10px;
}

.FirstItem {
    height: 35vh;
    width: 25vw;
    position:fixed;
    bottom:58%;
    object-fit: cover;
    border-radius:8px;
}
.FirstFrameText {
    width:46vw;
    height:200px;
    position:fixed;
    bottom:70%;
    left:48%;
    font-size:2.3vw;

    animation: TextAppear;
    animation-duration: 3s;
}
.AboutText{
    width:48%;
    height:500px;
    font-size: 16px;
}
.GoBack{
    height:0.5vh;
    width:8vw;
    position:fixed;
    font-size:0.8vw;
    bottom:95.2%;
}

@keyframes FrameAppear{
    from{margin-left: 100%;}
    to{margin-left: 0%;}
}
/* end. */

@keyframes TextAppear{
    from{margin-bottom: 100%}
    to{margin-top:70%}
}