/* Ubuntu font */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
  .ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  
  .ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

  
  


.Title {
    width:1920px;
    position:relative;
    right: 0.4%;
    height: 54spx;
    
}

.Name {
    width:150px;
    font-family: sans-serif;
    position: relative;
    left: 100px;
    font-size: xx-large;
}

.Contacts {
    font-family: sans-serif;
    width:400px;
    position:relative;
    left:70%;
    bottom: 37px;
    font-size: large;
}
.CategoryRow {
    width:540px;
    position: relative;
    bottom: 65px;
    left:26%;
    font-size:x-large
}


hr {
    position: relative;
    width: 2000px;
    right:0%;
    border: 2px solid;
}

.TitleLine {
    position:relative;
    bottom: 60px;
}

body {
    background-color: #f7f7f7;
    font-family: "Ubuntu";
}

