* {
    font-family:sans-serif;
    color:aliceblue
}
body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); 


    
}
.tomoko {
    height: 80px;
    width: 80px;
}
.tomoko-mouse {
    height: 80px;
    width: 80px;
}

.bluecar {
    height: 60px;
    width: 120px;

    animation: CarGo;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}

.hellotext {
    font-size: 40px;
    animation: HelloSlide;
    animation-iteration-count: infinite;
    animation-duration: 6s;
}


@keyframes HelloSlide{
    from{margin-left: 100%;}
    to{margin-left: -20%;}
}

@keyframes CarGo{
    from{margin-left: 100%;}
    to{margin-left: -100%;}
}