* {
    font-family: sans-serif;
}

body {
background-color: rgb(240, 240, 240);
overflow-x:hidden; /*disable horizontal scrolling*/
overflow-y:hidden /*Same thing but for vertical*/
}

header {
    background-color: rgb(255, 255, 255);
    font-size: x-large;
    text-align: center;
    width:100%;
}

.decoration-box {
    height: 40px;
    width: 100%;
    background-color: orangered;
    position: relative;
    bottom: 100px;

}

.Categories {
    position: absolute;
    left: 100px;
}
/* First item config starts here*/
.FirstItemBackground {
    background-color: white;
    position:relative;
    height: 300px;
    width: 270px;
    left:300px;

    border-radius: 10px;
}

.FirstItem {
    height: 250px;
    width: 250px;
    position:relative;
    left: 310px;
    bottom:290px;
    object-fit: cover;
    border-radius:8px;
}
.FirstFrameText {
    position:relative;
    left: 312px;
    bottom:290px;
    font-size:20px;
}
/* end. */
/* Second item config starts here*/
.SecondItemBackground {
    background-color: white;
    position:relative;
    height: 300px;
    width: 270px;
    left:640px;
    bottom:581px;

    border-radius: 10px;
}

.SecondItem {
    height: 250px;
    width: 250px;
    position: relative;
    left: 650px;
    bottom: 874px;
    object-fit: cover;
    border-radius:8px;
}
.SecondFrameText {
    position:relative;
    left: 654px;
    bottom: 873px;
    font-size:20px;
}
/* end. */
/* Third item config starts here*/
.ThirdItemBackground {
    background-color: white;
    position:relative;
    height: 300px;
    width: 270px;
    left:970px;
    bottom:1163px;
    border-radius: 10px;
}

.ThirdItem {
    height: 250px;
    width: 250px;
    position: relative;
    left: 980px;
    bottom: 1455px;
    object-fit: cover;
    border-radius:8px;
}
.ThirdFrameText {
    position:relative;
    left: 992px;
    bottom: 1455px;
    font-size:20px;
}